body{
  background: url('../img/clouds.jpg');
  background-size: cover;
  color: #532827;
}

.container {

}
img{
  margin-top: 15px;
  margin-left: 20px;
  height: 80px;
  width: 80px;
 float: left;

 vertical-align: middle;


}
.card{
      border-radius: 8px;
      font-size: 20px;

}
.upperdetail{
  text-align: center;
  position: relative;
  top: 27px;
}
.lowerdetail{
  padding-bottom: 20px;
  padding-top: 10px;
}
